certifi==2018.1.18
chardet==3.0.4
ChatterBot==0.8.4
chatterbot-corpus==1.1.1
click==6.7
decorator==4.0.11
Flask==0.12.2
future==0.16.0
get==0.0.39
idna==2.6
imageio==2.1.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mathparse==0.1.1
moviepy==0.2.3.2
nltk==3.2.5
numpy==1.14.2
oauthlib==2.0.6
Pillow==9.0.1
post==0.0.26
public==0.0.65
pymediainfo==2.2.1
pymongo==3.6.0
python-dateutil==2.6.1
python-twitter==3.4
PyYAML==3.12
query-string==0.0.28
request==0.0.26
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
SQLAlchemy==1.2.4
tqdm==4.11.2
urllib3==1.22
Werkzeug==0.14.1
