*.pyc
**.pyc
/web-player/static/avatar-videos
/web-player/static/avatar-garden
/web-player/venv
/web-player/.idea/misc.xml
/web-player/.idea/workspace.xml
/web-player-four-avatars/static/avatar-videos
/web-player/english_log.tsv
/web-recorder/public/avatar-garden/*
!/web-recorder/public/avatar-garden/README.txt
!/web-recorder/public/avatar-garden/recorder_README.md
!/web-recorder/public/avatar-garden/player_README.md
__pycache__
*.DS_Store
**.DS_Store
