*.pyc
**.pyc
/web-player/static/avatar-videos
/web-player/static/avatar-garden
/web-player/venv
/web-player/.idea/misc.xml
/web-player/.idea/workspace.xml
/web-player-four-avatars/static/avatar-videos
/web-recorder/public/avatar-garden/*
!/web-recorder/public/avatar-garden/README.txt
__pycache__
*.DS_Store
**.DS_Store
