body{
  color:black;
  font-family: 'Assistant', sans-serif;
  text-align: center;
  background-color: #EFEFEF;
}

.query_form{
  margin-bottom: 10px;
}


.top_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: lighter;
}

.top_button:hover {
  transform:scale(1.15);
}

#stop_avatar {
    margin: 4px 2px;
    margin-top: 20px;
}

#pause_speech {
    margin: 4px 2px;
    margin-top: 20px;
    cursor: pointer;
}




