<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<head>
  <link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='styles/choose_avatar.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <meta charset="UTF-8">
    <title>TOIA's homepage</title>
</head>
<body>

<div class="message">Hi I'm your friend TOIA ! Who would you like to talk to today?<br>
  أهلا، أنا صديقك "تويا"! مع من تريد أن تتحدث اليوم؟
</div>

<div id="selectPrevious">
  <form id="previousAvatar" onsubmit="chosenAvatar();" style="padding-left:50px;">
  </form>
</div>

</body>

<script>

  var data = "{{avatars}}".split(",");

  console.log(data);

  function makeRadioButton(name, value, text) {
    var label = document.createElement("label");
    var radio = document.createElement("input");
    label.classList.add("scriptRadio");
    radio.type = "radio";
    radio.name = name;
    radio.value = value;
    label.appendChild(radio);
    label.appendChild(document.createTextNode(text));
    return label;
  }

  function capitalize(string) {
    return string.replace(/^./, Function.call.bind("".toUpperCase));
  }

  $("#previousAvatar").submit(function(e) {
    console.log("HI");
    e.preventDefault();
  });

  var scriptForm = document.getElementById("previousAvatar");
  for (var i = 0; i < data.length; i++ ) {
    var scriptName = makeRadioButton("avatarFolderName",data[i],capitalize(data[i]));
    scriptForm.appendChild(scriptName);
    scriptForm.innerHTML += "<br>";
  }
  scriptForm.innerHTML += '<br> <input type="submit" value="Submit"></input>';

  function chosenAvatar() {
    name = document.querySelector('input[name="avatarFolderName"]:checked').value;
    console.log("YOS");
    console.log(name);
    location.href = name;
  }

</script>
</html>
