<!DOCTYPE html>
<html lang="en">
<head>
  <link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='styles/choose_avatar.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <meta charset="UTF-8">
    <title>TOIA's homepage</title>
</head>
<body>

<div class="message">Hi I'm your friend TOIA ! Who would you like to talk to today?<br>
  أهلا، أنا صديقك "تويا"! مع من تريد أن تتحدث اليوم؟
</div>

<div class="container">
<form action="margarita" class ="avatar_container">
    <div class= "avatar_image">
      <input type="image" src="./static/images/margarita.png" value="margarita" class="image_form" />
    </div>
    <div class="caption">Margarita</div>
        <div class="caption">مارغاريتا،</div>
</form>


<form action="katarina" class ="avatar_container">
  <div class= "avatar_image">
    <input type="image" src="./static/images/katarina.png" value="katarina" class="image_form"/>
  </div>
    <div class="caption">Katarina</div>
    <div class="caption">كاتارينا،</div>
</form>


<form action="gabriela" class ="avatar_container">
  <div class= "avatar_image">
    <input type="image" src="./static/images/gabriela.png" value="gabriela" class="image_form"/>
  </div>
    <div class="caption">Elissa</div>
    <div class="caption">إليسا،</div>

</form>


<form action="rashid" class ="avatar_container">
  <div class= "avatar_image">
    <input type="image" src="./static/images/rashid.png" value="rashid" class="image_form"/>
  </div>
    <div class="caption">Rashid</div>
    <div class="caption">راشد</div>
</form>
</div>

</body>
</html>
