<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type="text/css" href="{{url_for('static',filename='styles/main.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
  </head>
  <body>

    <h2 id="title">TOIA: An Interactive Human Digital Avatar</h2>
    <p id="subtitle">Hi I'm your friend TOIA! Feel free to talk to me :)</p>
    <form method="POST" class="query_form">
      <input name="text" id = "messageText">
      <input type="submit" id = "chatbot-form-btn">
    </form>

    <!-- USE FOLLOWING CODE TO DISPLAY AVATAR RESPONSE -->
    <!-- <div id="place_for_avatar_response">
      <label>
      {{ avatar_response }}
    </label>
    </div> -->

    <div id="speech_query">{{query_text|capitalize}}</div>
    <div id="language_field" style="display:none">{{language}}</div>
    <div id="container">
      <button class = "top_button" id="stop_avatar">Skip video</button><button class = "top_button" id="pause_speech">Mute mic</button>
    </div>

    <div id="video_container" class="">
    <video id = 'avatar_video' class='center' width="640" height="400" align="middle" autoplay="autoplay">
      <source src="{{avatar_video_path}}" type="video/mp4">
      <source src="{{avatar_video_path}}" type="video/webm">
      <source src="{{avatar_video_path}}" type="video/ogv">
      <source src="{{avatar_video_path}}" type="video/ogg">
      <track label="English" kind="subtitles" srclang="en" src= {{avatar_subtitle}} default>
    </video>
    </div>

    <div>
        <button id = "recreate_session">New user</button>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    <script>

    console.log(sessionStorage.getItem("fillers"));

    // change button names to Arabic
    if(document.getElementById('language_field').innerHTML == 'Arabic' || document.getElementById('language_field').innerHTML == "arabic")
    {
      document.getElementById("recreate_session").textContent = "مستخدم جديد";
      document.getElementById("stop_avatar").textContent = "تخطى الفيديو";
      document.getElementById("pause_speech").textContent = "اكتم المايكروفون";
      document.getElementById("title").innerText = "تويا: افاتار رقمي متفاعل";
      document.getElementById("subtitle").innerText = "مرحبا أنا تويا، تفضل بالحديث معي";
    }
    // variable that is used to detect whether speech recognigiton is paused or not
    var paused = false;

    $(".query_form").hide();
    // speech recognition using annyang
      function detectSpeech(){
        if (paused == false) {
          console.log('speech recognition is listening');
          if (annyang) {
            let currentLanguage = document.getElementById('language_field').innerHTML;
            annyang.setLanguage('en-US');
            if(currentLanguage == "English" || currentLanguage == "english"){
              annyang.setLanguage('en-US');
            }
            if(currentLanguage=="Arabic" || currentLanguage == "arabic"){
              annyang.setLanguage('ar');
            }

            annyang.resume();
            var sayThis = function(result) {
              document.getElementById('messageText').value = result;
              document.getElementById('chatbot-form-btn').click();
              speech_detected = result;

              console.log(result);
            }
            var commands = {'*say': sayThis};
            annyang.addCommands(commands);
          };
        }
      }

        var vid = document.getElementById('avatar_video');
        var vid_src = document.getElementById('avatar_video').src;

        var vid_container = document.getElementById('video_container');

        vid.oncanplaythrough=function(){
          vid.play();
        };

    page_protocol = window.location.protocol;
    page_host = window.location.host;

    // console.log("your document url is: ");
    // console.log(document.URL);

    function playFillerVideo(){
      console.log("YA");
      console.log(localStorage.getItem("fillers"));
      var fillers = JSON.parse(localStorage.getItem("fillers"));
      console.log("YA");
      console.log(fillers);
      $('#avatar_video track').attr('src',"");
      vid.src = fillers[Math.floor(Math.random()*fillers.length)];
      vid.setAttribute('poster','../static/avatar-garden/{{avatar}}/still.png');
    }

    function playFillerVideoAtStart(){
        switch ("{{avatar_video_path}}"){
          case "":
              playFillerVideo();
            }
        }

     function playFillerVideoInBetween(){
           playFillerVideo();
        }

      //start or Mute mic depending on if video is playing
      $(document).ready(function() {
        vid.setAttribute('poster','../static/avatar-garden/{{avatar}}/still.png');

        playFillerVideoAtStart();
        detectSpeech();
        document.getElementById('stop_avatar').onclick = function(){
          $('#avatar_video').get(0).pause();
        }

        // Pause or Unmute mic
        var speech_button = document.getElementById('pause_speech');

        document.getElementById('pause_speech').onclick = function(){
          console.log("clicked speech button");
          let currentLanguage = document.getElementById('language_field').innerHTML;
          console.log(currentLanguage);
          if (speech_button.textContent == "Mute mic" || speech_button.textContent == "اكتم المايكروفون") {
            console.log("paused speech recognition");
            if(annyang) {
              annyang.abort();
              paused = true;
              if(currentLanguage=="Arabic" || currentLanguage == "arabic") {
                speech_button.textContent = "شغل المايكروفون";
                console.log("DID THIS");
              } else {
                speech_button.textContent = "Unmute mic";
              }
            }
          } else {
            console.log("restarted speech recognition");
            annyang.start({autoRestart: false});
            paused = false;
            if(currentLanguage=="Arabic" || currentLanguage == "arabic") {
                speech_button.textContent = "اكتم المايكروفون";
                console.log("DID THIS TOO");
            } else {
              speech_button.textContent = "Mute mic";
            }
          }
        }

        var recreate_session_button = document.getElementById('recreate_session');
        recreate_session_button.onclick = function(){
          $.ajax({
            type:'POST',
            url:"/{{avatar}}/{{language}}/recreate"

          })
        }


        $('#avatar_video').bind('playing', function(e) {
          console.log('bind - playing');
        });

        $('#avatar_video').on('canplay', function() {
          $('#avatar_video').css('visibility', 'visible')
        });

        var player = document.getElementById('avatar_video');

      // TALKING MODE
      // Video is playing we are in talking mode, which means speech recognition will be paused.
        player.addEventListener('playing', function(e) {
          // if(JSON.parse(localStorage.getItem("fillers")).includes(player.src)){
          if(!player.src){
          console.log("we are not playing a filler video");
            annyang.abort();
            console.log('Video is now playing and we stopped speech recognition') ;
           }
        });

      // LISTENING MODE
      // If video is not playing, we are in listening mode, which means we will enable speech recognition
      // and we will play a filler video

        player.addEventListener('pause', function(e) {
          console.log('Video is now paused') ;
          playFillerVideoInBetween();
          detectSpeech();
        });

        player.addEventListener('ended', function(e) {
          console.log('Video has ended') ;
          playFillerVideoInBetween();
          detectSpeech();
        });


      });

          // Below are helper codes for the speech recognition if we want to use dialects
          // set langauge to be MSA
          // annyang.setLanguage('ar')
          // set langauge to be emirati dialect
          // annyang.setLanguage('ar-AE');
          // set language to be Jordanian dialect
          // annyang.setLanguage('ar-JO');

    </script>
  </body>
</html>
