<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>TOIA: Interactive Story Telling Done Right</h1>
    <p>Hi I'm your friend from TOIA! Ask anything you want to know from me :)</p>
    <form method="POST">
      <input name="text" id = "messageText">
      <input type="submit" id = "chatbot-form-btn">
    </form>

    <!-- USE FOLLOWING CODE TO DISPLAY AVATAR RESPONSE -->
    <!-- <div id="place_for_avatar_response">
      <label>
      {{ avatar_response }}
    </label>
    </div> -->

    <div id="speech_query">{{query_text}}</div>
    <div id="language_field" stype="display:none">{{language}}</div>

    <div id="video_container" class="">
    <video id = 'avatar_video' class='center' width="640" height="480" align="middle" controls autoplay
    preload = "auto">
      <source src="{{avatar_video_path}}" type="video/mp4">
      <source src="{{avatar_video_path}}" type="video/webm">
      <source src="{{avatar_video_path}}" type="video/ogv">
      <source src="{{avatar_video_path}}" type="video/ogg">
      <track label="English" kind="subtitles" srclang="en" src= {{avatar_subtitle}} default>
    </video>
    </div>
    <div><button id="stop_button">Stop speech recognition</button></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    <script>

    // speech recognition using annyang
      function detectSpeech(){
        if (annyang) {
          let currentLanguage = document.getElementById('language_field').innerHTML;
          annyang.setLanguage('en-US');
          if(currentLanguage == "English" || currentLanguage == "english"){
            annyang.setLanguage('en-US');
          }
          if(currentLanguage=="Arabic" || currentLanguage == "arabic"){
            annyang.setLanguage('ar');
          }

          annyang.start();
          var sayThis = function(result) {
            document.getElementById('messageText').value = result;
            document.getElementById('chatbot-form-btn').click();
            speech_detected = result;

            console.log(result);
          }
          var commands = {'*say': sayThis};
          annyang.addCommands(commands);
        };
        }

        var vid = document.getElementById('avatar_video');
        var vid_src = document.getElementById('avatar_video').src;

        var vid_container = document.getElementById('video_container');


    function playFillerVideoAtStart(){
        switch ("{{avatar_video_path}}"){
          case "":
            switch("{{avatar}}"){
              case "margarita":
                vid.src = "../static/avatar-videos/margarita_338_6be11151af2d475f7f56fe99b547c810.mp4"
                break;
              case "katarina":
                vid.src = "../static/avatar-videos/katarina_1210_3792386d3488216a787d3261b35d302e.mp4"
                break;
              case "gabriela":
                vid.src = "../static/avatar-videos/gabriela_2269_0675d24f01246799129eb70ec51746f8.mp4"
                break;
              case "rashid":
                vid.src = "../static/avatar-videos/rashid_3210_817fa7ca9dc82cdd71696044df086c08.mp4"
                break;
                }
            }
        }

     function playFillerVideoInBetween(){

            switch("{{avatar}}"){
              case "margarita":
                vid.src = "../static/avatar-videos/margarita_338_6be11151af2d475f7f56fe99b547c810.mp4"
                break;
              case "katarina":
                vid.src = "../static/avatar-videos/katarina_1210_3792386d3488216a787d3261b35d302e.mp4"
                break;
              case "gabriela":
                vid.src = "../static/avatar-videos/gabriela_2269_0675d24f01246799129eb70ec51746f8.mp4"
                break;
              case "rashid":
                vid.src = "../static/avatar-videos/rashid_3210_817fa7ca9dc82cdd71696044df086c08.mp4"
                break;

            }
        }


      //start or pause speech recognition depending on if video is playing
      $(document).ready(function() {
        playFillerVideoAtStart();
        document.getElementById('stop_button').onclick = function(){
          if(annyang)
            annyang.abort();
        }

        $('#avatar_video').bind('playing', function(e) {
          console.log('bind - playing');
        });

        var player = document.getElementById('avatar_video');

      // TALKING MODE
      // Video is playing we are in talking mode, which means speech recognition will be paused.
        player.addEventListener('playing', function(e) {
          console.log(vid.src);
          if(vid.src != "http://localhost:5000/static/avatar-videos/katarina_1210_3792386d3488216a787d3261b35d302e.mp4"){
            annyang.pause();
            console.log('Video is now playing') ;
           }
        });

      // LISTENING MODE
      // If video is not playing, we are in listening mode, which means we will enable speech recognition
      // and we will play a filler video

        player.addEventListener('pause', function(e) {
          console.log('Video is now paused') ;
          playFillerVideoInBetween();
          detectSpeech();
        });

        player.addEventListener('ended', function(e) {
          console.log('Video has ended') ;
          playFillerVideoInBetween();
          detectSpeech();
        });
      });

          // Below are helper codes for the speech recognition if we want to use dialects
          // set langauge to be MSA
          // annyang.setLanguage('ar')
          // set langauge to be emirati dialect
          // annyang.setLanguage('ar-AE');
          // set language to be Jordanian dialect
          // annyang.setLanguage('ar-JO');

    </script>
  </body>
</html>
